body{
    background-color: rgb(0, 6, 35);
    display: flex;
}

.small-lines{
    stroke:rgba(169, 114, 255, 0.5)
}

.big-lines{
    stroke: #a972ff;
}

svg{
    margin: auto;
}

.second{
    transform: rotate(65deg);
    transform-origin: 400px 400px;
}

.akrep{
    transform: rotate(45deg);
    transform-origin: 400px 400px; /* Merkez noktasını ayarlama */
    stroke: rgb(208, 81, 115);
}

.yelkovan{
    transform: rotate(15deg);
    transform-origin: 400px 400px;
    stroke: rgb(208, 81, 115);
}

